@page "/customer-add"
@using Services
@using Data.Entities
@inject ICostumerService CustomerService
@using Models
@inject NavigationManager NavigationManager

<h3>Crear Clientes</h3>

<CustomerForm ButtonText="Create Customer" customer="@customer"
      OnValidSubmit="@CreateCustomer" />

@code {
    Customer customer = new();
    private ResponseCustomer result;

    async Task CreateCustomer()
    {
        await CustomerService.SaveCustomer(customer);
        NavigationManager.NavigateTo("/customer-list");
    }
}