@page "/customer-add"
@page "/customer-add/{id:int}"
@using Services
@using Data.Entities
@inject ICostumerService CustomerService
@using Models
@inject NavigationManager NavigationManager

<h3>Crear Clientes</h3>


<EditForm Model="@customer">
    @*<DataAnnotationsValidator />*@
    <div class="card">
        <div class="card-header">
            Clientes
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <div class="mb-3 row">
                        <label for="customerId" class="col-sm-12 col-form-label align-content-end">Identificación</label>
                    </div>
                </div>
                <div class="col-9">
                    <div class="mb-3 row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="customerId" @bind="customer.Customer_id">
                            <div class="valid-feedback">
                                @*<ValidationMessage For="@(()=>customer.Customer_id)" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <div class="mb-3 row" style="text-align:left !important">
                        <label for="customerName" class="col-sm-12 col-form-label">Nombre</label>
                    </div>
                </div>
                <div class="col-9">
                    <div class="mb-3 row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="customerId" @bind="customer.Customer_name">
                            <div class="valid-feedback">
                                @*<ValidationMessage For="@(()=>customer.Customer_name)" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <div class="mb-3 row">
                        <label for="customerCity" class="col-sm-12 col-form-label">Ciudad</label>
                    </div>
                </div>
                <div class="col-9">
                    <div class="mb-3 row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="customerCity" @bind="customer.Customer_city">
                            <div class="valid-feedback">
                                @*<ValidationMessage For="@(()=>customer.Customer_city)" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2"></div>
                <div class="col-9">
                    <input type="submit" value="Save" class="btn btn-primary" @onclick="SaveCustomer" />
                    <a href="/customer-list" class="btn btn-dark">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    private ResponseCustomer result;

    Customer customer = new();

    protected async Task SaveCustomer()
    {
        await CustomerService.SaveCustomer(customer);
        NavigationManager.NavigateTo("/customer-list");
    }

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            result = await CustomerService.GetCustomerDetail(id);
            if (result.IsSuccess)
            {
                customer = result.Data;
            }
        }
    }
}